<div class="page-wrapper">
	<div class="start-page-wrapper">
		<div class="start-page-wrapper__title">
			<h1>Profesjonalne Rozwiązania Webowe dla Twojego Biznesu</h1>
		</div>
		<div class="start-page-wrapper__sub-title mt-6">
			<h3>Tworzymy Nowoczesne i Skuteczne Strony Internetowe</h3>
		</div>
		<div class="start-page-wrapper__info mt-6">
			<div class="shaddow">
				<p>
					W ND specjalizujemy się w projektowaniu i wdrażaniu innowacyjnych stron internetowych, które pomagają firmom rozwijać
					się w cyfrowym świecie. Nasze projekty łączą nowoczesny design z najnowszymi technologiami, aby zapewnić najwyższą
					jakość i funkcjonalność.
				</p>
			</div>
		</div>
		<div class="start-page-wrapper__offer mt-6">
			<h3 class="mb-3">Co oferujemy?</h3>
			<div class="offer">
				<div class="offer__item mb-4">
					<h4>Szablony Stron Internetowych</h4>
					<p>
						Gotowe szablony stron internetowych, które można dostosować do indywidualnych potrzeb. To szybkie i ekonomiczne
						rozwiązanie dla firm, które chcą mieć profesjonalną stronę w krótkim czasie.
					</p>
				</div>
				<div class="offer__item mb-4">
					<h4>Dedykowane Strony Internetowe</h4>
					<p>
						Indywidualne podejście do każdego projektu pozwala nam tworzyć unikalne, responsywne i intuicyjne strony, które
						skutecznie budują markę i angażują użytkowników.
					</p>
				</div>
				<div class="offer__item mb-4">
					<h4>Aplikacje Webowe</h4>
					<p>
						Zaawansowane aplikacje internetowe dostosowane do potrzeb Twojej firmy. Automatyzacja procesów, integracje z
						zewnętrznymi systemami i elastyczne rozwiązania backendowe to nasza specjalność.
					</p>
				</div>
				<div class="offer__item mb-4">
					<h4>Opieka i Wsparcie Techniczne</h4>
					<p>
						Nie zostawiamy naszych klientów bez opieki. Zapewniamy stały monitoring, aktualizacje oraz wsparcie techniczne, aby
						Twoja strona działała bez zarzutu.
					</p>
				</div>
			</div>
		</div>
		<div class="start-page-wrapper__trust mt-4">
			<div class="trust-title mb-3 mt-3"><h2>Dlaczego Warto Nam Zaufać?</h2></div>
			<div class="trust">
				<div class="trust__item flex">
					<p>
						<span>#Doświadczenie</span> – lata pracy przy projektach dla różnych branż pozwoliły nam zdobyć szeroką wiedzę i
						umiejętności.
					</p>
					<div class="trust-image img-1"></div>
				</div>
				<div class="trust__item flex flex-row-reverse">
					<p>
						<span>#Indywidualne Podejście</span> – każdy klient jest dla nas unikalny, dlatego dostosowujemy nasze rozwiązania
						do Twoich potrzeb.
					</p>
					<div class="trust-image img-2"></div>
				</div>
				<div class="trust__item flex">
					<p><span>#Najwyższa Jakość</span> – dbamy o estetykę, funkcjonalność i wydajność każdego projektu.</p>
					<div class="trust-image img-3"></div>
				</div>
				<div class="trust__item flex flex-row-reverse">
					<p>
						<span>#Nowoczesne Technologie</span> – stosujemy sprawdzone narzędzia i trendy, aby dostarczać najlepsze
						rozwiązania.
					</p>
					<div class="trust-image img-4"></div>
				</div>
			</div>
		</div>
	</div>
</div>
