@use '../../../styles.scss' as *;
@use 'sass:map';

.start-page-wrapper {
	&__title {
		width: 60%;
		margin-left: 7.5%;
		border: 2px solid $gradientFirst;
		border-radius: $ownRadius;
		padding: $title-padding;

		h1 {
			background: linear-gradient(to right, $gradientFirst, $gradientSecond, $gradientThird, $gradientFourth);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: $m-fz;
		}
	}

	&__sub-title {
		display: flex;
		justify-content: flex-end;
		margin-right: 7.5%;

		h3 {
			display: inline-block;
			width: 50%;
			color: $coldColor;
		}
	}

	&__info {
		background-image: url('../../../assets/images//start-page/glass-sphere-1746506_1280.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
		margin: 0 auto;
		height: 400px;
		display: flex;
		align-items: flex-end;
		border-radius: $ownRadius;

		.shaddow {
			background-color: rgba(1, 1, 1, 0.5);
			padding: $big-padding;
			border-bottom-right-radius: $ownRadius;
			border-bottom-left-radius: $ownRadius;
		}

		p {
			font-size: $xxs-fz;
			font-weight: 700;
			line-height: 2;
			color: $basicBgColor;
			letter-spacing: 1.2px;
		}
	}

	&__offer {
		margin: 0 7.5%;

		.offer {
			&__item {
				border-radius: $ownRadius;
				box-shadow: 6px 6px 12px #b8b8b8, -6px -6px 12px #ffffff;
				transition: all 0.2s ease-in-out;

				video {
					border-top-right-radius: $ownRadius;
					border-top-left-radius: $ownRadius;
				}

				.content {
					padding: 10px 20px 15px 20px;
					background: linear-gradient(to top, $threeDFirst, $threeDSecond);
					border-bottom-right-radius: $ownRadius;
					border-bottom-left-radius: $ownRadius;
					height: 190px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					h4 {
						text-align: right;
						margin-bottom: 0.5rem;
						font-family: 'Fira';
					}

					p {
						font-size: $xxs-fz * 1.1;
					}

					a {
						display: inline-block;
						width: 100%;
						text-align: right;
						color: $gradientFirst;
						transition: 0.3s;
						font-size: $xxs-fz;
						font-weight: 700;
					}
				}
			}
		}
	}

	&__trust {
		.trust-title {
			background-image: url('../../../assets/images//start-page/lego-708086_1280.jpg');
			background-position: center;
			background-size: cover;
			text-align: center;
			height: 100px;
			border-radius: $ownRadius;

			h2 {
				display: inline-block;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgba(1, 1, 1, 0.4);
				color: $basicBgColor;
				border-radius: $ownRadius;
			}
		}

		.trust {
			margin: 2rem 7.5%;

			&__item {
				border: 1px solid #c4c4cb;
				border-radius: 0.75rem;
				margin-bottom: 1rem;

				p {
					font-size: $xxs-fz * 1.1;
					font-family: 'Fira';
					flex-basis: 50%;
					padding: 1rem;

					span {
						font-size: $xxs-fz * 1.2;
						font-weight: 700;
						text-decoration: underline;
						color: $coldColor;
					}
				}

				.trust-image {
					width: 50%;
					position: relative;
					overflow: hidden;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;

					&.img-1 {
						background-image: url('../../../assets/images/start-page/exp_1280.jpg');
						border-top-right-radius: 0.75rem;
						border-bottom-right-radius: 0.75rem;
					}
					&.img-2 {
						background-image: url('../../../assets/images/start-page/one_1280.jpg');
						border-top-left-radius: 0.75rem;
						border-bottom-left-radius: 0.75rem;
					}
					&.img-3 {
						background-image: url('../../../assets/images/start-page/qual_1280.jpg');
						border-top-right-radius: 0.75rem;
						border-bottom-right-radius: 0.75rem;
					}
					&.img-4 {
						background-image: url('../../../assets/images/start-page/tech_1280.jpg');
						border-top-left-radius: 0.75rem;
						border-bottom-left-radius: 0.75rem;
					}
				}

				.trust-image::after {
					content: '';
					position: absolute;
					top: 0;
					left: -150%;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						120deg,
						rgba(255, 255, 255, 0) 20%,
						rgba(255, 255, 255, 0.8) 50%,
						rgba(255, 255, 255, 0) 80%
					);
					transform: skewX(-25deg);
					transition: left 0.5s ease-out;
				}

				.shine-effect::after {
					left: 150%;
				}
			}
		}
	}

	@media screen and (min-width: map.get($break-points, large)) {
		&__title {
			width: 35%;

			h1 {
				font-size: $x-fz * 1.2;
			}
		}

		&__sub-title {
			h3 {
				font-size: $l-fz;
			}
		}

		&__info {
			background-image: url('../../../assets/images//start-page/glass-sphere-1746506_1920.jpg');
			height: 600px;

			p {
				font-size: $l-fz;
			}
		}

		&__offer {
			h3 {
				font-size: $l-fz;
			}

			.offer {
				display: inline-flex;
				cursor: pointer;
				transition: 0.3s;

				&__item {
					width: 60%;

					h4 {
						font-size: $m-fz;
						text-align: left;
					}

					p {
						font-size: $s-fz * 1.1;
					}

					&:hover {
						transform: scale(1.02);

						&:hover a {
							color: $gradientFourth;
						}
					}
				}
			}
		}
		&__trust {
			.trust-title {
				background-image: url('../../../assets/images/start-page/lego-708086_1920.jpg');
				height: 200px;

				h2 {
					font-size: $x-fz * 1.2;
				}
			}

			.trust {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				&__item {
					flex-basis: 49%;
					margin-bottom: 1.5rem;

					p {
						font-size: $xs-fz * 1.1;

						span {
							font-size: $s-fz * 1.2;
						}
					}

					.trust-image {
						&.img-1 {
							background-image: url('../../../assets/images/start-page/exp_1280.jpg');
						}
						&.img-2 {
							background-image: url('../../../assets/images/start-page/one_1280.jpg');
							background-position-y: -100px;
						}
						&.img-3 {
							background-image: url('../../../assets/images/start-page/qual_1280.jpg');
						}
						&.img-4 {
							background-image: url('../../../assets/images/start-page/tech_1280.jpg');
						}
					}
				}
			}
		}
	}
}
