@font-face {
	font-family: 'Kumbh Sans';
	src: url('../fonts/KumbhSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Kumbh Sans';
	src: url('../fonts/KumbhSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Fira';
	src: url('../fonts/FiraCode-Medium.ttf');
	font-weight: 700;
	font-style: medium;
}

html * {
	font-family: 'Roboto', sans-serif;
}
