//colors

$elementsBgColor: #2d2e55;

$basicBgColor: #fefefe;
$hightLightColor: #ee428c;
$coldColor: #443bf6;

$contentColor: #04051f;
$warningHard: #ec130c;
$warningMid: #be140e;

$isDoneBox: #49b800;
$buttonColor: #4879c7;
$borderColor: #3b3131;

//hoverColors
$buttonHoverColor: #3b82f6;
$hoverLinkColor: #16aae1;
$textHoverColor: #fefefe94;

//table colors
$tableHeaderBackground: #fefefe20;
$tableBackground: #fefefe50;
$tableOddBackground: #fefefe70;
$tableBorder: #4879c7;

//gradient colors
$gradientFirst: #3e3bf6;
$gradientSecond: #ee428c;
$gradientThird: #0b99e6;
$gradientFourth: #da42ee;

//background
$blur-background: rgba(25, 24, 24, 0.097);

//font-size
$xxs-fz: 0.85rem;
$xs-fz: 1rem;
$s-fz: 1.2rem;
$m-fz: 1.5rem;
$l-fz: 1.75rem;
$x-fz: 2rem;

//media-query
$break-points: (
	x-small: 480px,
	small: 640px,
	medium: 800px,
	large: 1020px,
	x-large: 1280px,
);

//paddings
$title-padding: 1rem;
$big-padding: 2rem;

//margins
$big-margin: 60px;
$medium-margin: 40px;
$small-margin: 20px;

//others
$transition: 0.4s;
$navComponentHeight: 60px;
$pagePadding: 40px;
$primeBorderRadius: 3px;
$ownRadius: 0.5rem;
