@use '../../../assets/styles/variables' as *;
@use 'sass:map';

.page-footer-wrapper {
	width: 100%;
	justify-content: center;
	border-top: 1px solid $borderColor;
	flex-wrap: wrap;

	&__links {
		padding: 1rem;
		justify-content: space-around;
		align-items: center;
		flex-wrap: no-wrap;

		li {
			list-style: none;
			margin-bottom: 0.5rem;
			margin-left: 1rem;
			a {
				text-decoration: none;
				color: $borderColor;
				font-family: 'Fira';
				font-size: $xxs-fz;
			}
		}
	}

	&__adress {
		flex-direction: column;
		width: 100%;
		align-items: center;

		span {
			color: $borderColor;
			font-family: 'Fira';
			font-size: $xxs-fz / 1.2;
		}
	}

	&__media {
		padding: 1rem;

		i {
			margin-left: 1rem;
		}
	}

	@media screen and (min-width: map.get($break-points, large)) {
		flex-direction: row;
		justify-content: space-between;

		&__links {
			padding: 1rem 3rem;
			li {
				a {
					font-size: $xs-fz;
					transition: 0.3s;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&__adress {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			width: auto;

			span {
				font-size: $xxs-fz / 1.1;
				margin-right: 4px;
				margin-bottom: 7px;
			}

			span:not(:last-child) {
				border-right: 1.5px solid $borderColor;
				padding-right: 4px;
			}
		}

		&__media {
			padding: 1rem 3rem;

			i {
				font-size: $m-fz;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
