<div class="page-footer-wrapper flex">
	<div class="page-footer-wrapper__links flex">
		<li style="cursor: pointer"><a routerLink="/contact">Kontakt</a></li>
		<li style="cursor: pointer"><a routerLink="/rodo">Rodo</a></li>
		<li style="cursor: pointer"><a routerLink="/cookie">Cookie</a></li>
	</div>
	<div class="page-footer-wrapper__adress flex">
		<span><strong>NDSOFT Sp. z o. o.</strong></span>
		<span>nip: 8692020677</span>
		<span>krs: 0001227953</span>
		<span><i class="pi pi-phone mr-1"></i>795 727 977</span>
		<span><i class="pi pi-envelope mr-1"></i><a href="mailto: info&#64;nd-soft.pl">info&#64;nd-soft.pl</a></span>
	</div>
	<div class="page-footer-wrapper__media flex">
		<a href="https://github.com/MatrasTomek" target="_blank"> <i class="pi pi-github"></i></a>
		<a href="https://www.instagram.com/nd_soft_/" target="_blank"> <i class="pi pi-instagram"></i></a>
		<!-- <i class="pi pi-discord"></i> -->
		<a href="https://www.facebook.com/1ndsoft" target="_blank"> <i class="pi pi-facebook"></i></a>
	</div>
</div>
