<div class="page-footer-wrapper flex">
	<div class="page-footer-wrapper__links flex">
		<li style="cursor: pointer"><a routerLink="/contact">Kontakt</a></li>
		<li style="cursor: pointer"><a routerLink="/rodo">Rodo</a></li>
		<li style="cursor: pointer"><a routerLink="/cookie">Cookie</a></li>
	</div>
	<div class="page-footer-wrapper__media flex">
		<!-- <i class="pi pi-facebook"></i> -->
		<a href="https://github.com/MatrasTomek" target="_blank"> <i class="pi pi-github"></i></a>
		<!-- <i class="pi pi-instagram"></i>
		<i class="pi pi-discord"></i> -->
		<a href="https://www.linkedin.com/in/developerwebtm/" target="_blank"> <i class="pi pi-linkedin"></i></a>
	</div>
</div>
